html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: 1fr 90vmin 1fr;
  grid-template-rows: 1fr 90vmin 1fr;
  height: 100vh;
  width: 100vw;
}

svg {
  grid-column: 2/3;
  grid-row: 2/3;
}

#holder {
  grid-column: 3/4;
  grid-row: 1/4;
}

@media screen and (max-width: 1080px) {
  #holder {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

.divr {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imager {
  margin: auto;
  float: left;
  padding: 11.75px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  opacity: 0.99;
  z-index: 1;
}

.logo {
  width: 191px;
  height: 100px;
  background: blue;
  background-image: url('../assets/image/idc-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
}

/* Circles */
/* ======= */
.loader-circle-container {
  z-index: 2;
  background-image: url(assets/);
  position: absolute;
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.loader-circle {
  stroke-dasharray: 267px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: red;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 267px;
  }
}